h3 {
	color: rgb(250, 245, 245);

}
html, body{
	
    
    background-color: #1a1f22;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI';
    box-sizing: border-box;
    font-size: 20px;
}

/* header */

.title{
    color: white;
    
}

.title #title{
    font-size: 30px;
    color: white;
}

.menu-bar{
    background-color: #2a2e35;
    padding: 20px 40px;
}

#anchor{
    text-decoration: none;
    color: white;
}

a {
	text-decoration: none;
    color: white;
}
.container1{
    width: 500px;
    background-color: #00994d;
    border-radius: 15px;
    margin: 20px auto;
    border: 5px solid black;
    height: 400px;
    text-align: center;
}
.container1{
   display:grid;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
button{
    color: white;
    font-weight: bold;
    border-width: 0px;
    background-color: #00994d;
    border-radius: 10px;
    width: 50x;
    height: 40px;
    border: 3px solid black;
}
.box{
    width: 600px;
    height: 450px;
    text-align: center;
    margin: 100px 0 0 0;
    background-color:  #2a2e35;
    border-radius: 20px;
    padding: 10px 10px 20px 10px;
}
.wrapper.logo {
    display: block;
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:black;
    padding: 10px;
    height: 90px;
    
}

@media screen and (max-width: 480px) {
    .box{
        width: 300px;
        height: auto;
        text-align: center;
        margin: 90px 0 0 0;
        background-color:  #2a2e35;
        border-radius: 20px;
        padding: 10px 20px 20px 10px;
        
    }

    .container1{
        margin: 10px;
        width: auto;

    }

    .email{
        font-size: 17px;
    }

    .title #title{
        font-size: 16px;
    }
}
