h3 {
	color: rgb(250, 245, 245);

}
html, body{
	
    
    background-color: #1a1f22;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI';
    box-sizing: border-box;
    font-size: 20px;
}


a {
	text-decoration: none;
    color: white;
}
.container1{
    width: 550px;
    background-color: #00994d;
    border-radius: 1px;
    margin: 20px auto;
    height: 350px;
    text-align: center;
}
.container1{
   display:grid;
}
button{
    color: white;
    font-weight: bold;
    border-width: 0px;
    background-color: #00994d;
    border-radius: 10px;
    width: auto;
    height: 40px;
}
.box{
    width: 600px;
    height: 450px;
    text-align: center;
    margin: 100px 0 0 0;
    background-color:  #2a2e35;
    border-radius: 20px;
    padding: 10px 10px 20px 10px;
}
.wrapper.logo {
    display: block;
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:black;
    padding: 10px;
    height: 90px;
    
}
