
html,body {
	background-color: #1a1f22;
}

.menu-bar{
	display: flex;
	flex-wrap: wrap;
	background-color: #2a2e35;
	padding: 30px 0 20px 0;
	height: auto;
	width: auto;
	margin: 0 0 90px 0;
	color: white;
  font-family: 'Helvetica';
}

#anchor{
    text-decoration: none;
    color: white;

}

.menu-bar .title{
	font-weight: bold;
	flex: 100%;
	padding: 0 0 0 5%;
}


.containerf{
    width: 400px;
    background-color: #2a2e35;
    border-radius: 20px;
    margin: -45px auto;
    padding: 10px;
    height: 590px;
    
}

.col{
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.container1{
    width: 360px;
    background-color: #00994d;
    border-radius: 10px;
    margin: 10px auto;
    height: 390px;
} 

.arr {
	white-space: pre-line;
	margin: 0px 0 0 0;
}

.flexi1 {
	padding: 5px 0 0 0;
}

.arr1{
    margin: 60px 0 0 -60%;
}

.arr3{
    margin: 10px 0 0 30px;
    text-align: left;
    font-size: 20px;
    font-style: italic;
}

.arr2{
    margin: 15px 0 0 0;
    text-align: center;
    color: black;
}

.name, .location, .description{
    margin: 20px 0 0 30px;
    font-size: 30px;
}

button {
	color: white;
	font-weight: bold;
	border-width: 0px;
	background-color: #00994d;
	width: 200px;
	height: 50px;
    transition-duration: 0.4s;
}
button:hover{
    background-color: #4db882;
}
button a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}


.name, .location, .description, .arr1, .arr2, .arr3{
    color: white;
}
.buto1{
    margin: 70px 0 20px 43%;
}

.location1{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

@media screen and (max-width: 480px) {
    body{
        margin: auto;
    }

    .container1{
        width: 230px;
        background-color: #00994d;
        border-radius: 10px;
        margin: 10px auto;
        height: auto;
    } 

    .containerf{
        width: 270px;
        background-color: #2a2e35;
        border-radius: 15px;
        /* margin: 40px auto; */
        margin: auto;
        padding: 20px;
        height: auto;
        
    }

    #h2{
        font-size: 17px;
    }

    

    .location1{
        display: block;
        margin: 0 0 20px 0;
    }

    .arr1{
        margin: 10px 0 0 30px;
        
    }

    .buto1{
        margin: 15px 0 25px 20%;
        font-size: 15px;
    
    }

}

