*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: #2C272E;
    background-size: cover;
    background-position: center;
   
    font-family: sans-serif;
}

.title{
    margin: 30px 0 0 20px;
}

#profile{
    margin: 5px 0 0 750px;

}

.menu-bar
{
    background-color: #9AE66E;
    /* text-align: center; */
    margin: 0 0 70px 0;
   
}

.menu-bar .title{
    margin: 20px 0 20px 20px;
}

.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menu-bar ul li
{
    width: 100px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #9AE66E;
}
.active, .menu-bar ul li:hover
{
    background: #9AE66E;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: #242526;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #b2ff00;
}


/* body */
.bondpaper{
    display: grid;
    grid-template-row: 1fr 1fr;
    /* border: solid 2px grey; */
    margin: auto;
    background-color: #242526;
    height: auto;
    width: 900px;
    margin: auto;
    border-radius: 15px 15px 15px 15px;
  

}

.createE, .viewE{
    padding: 0 0 0 10px;
    /* border: blue solid 3px; */
    background-color: #9AE66E;
    margin: 30px;
    text-align: center;
    padding: 80px;
    border-radius: 10px;
    color: black;
}

.createE{
    text-decoration: none;
}

a{
    text-decoration: none;
}

.box1, .box2{
    /* border: 15px solid green; */
    display: grid;
    grid-template-rows: auto ;
    padding: 0 0 20px 0 ;
}

.buttn{
    height: 50px;
    width: 80px;
    margin: auto;
}

.title{
    margin: 0 0 20px 0;
}

.profbut{
    width: fit-content;
    padding: 0px 20px;;
    height: 40px;

}