* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial";
}
#header {
	position: fixed;
	width: 100%;
	background-color: white;
	padding: 10px;
	height: 100px;
	box-shadow: 5px 5px rgb(192, 191, 191);
	font-family: "Arial";
}

.div1 {
	margin: 10px 0 0 0;
	padding: 20px 10px 20px 10px;
}

html,
body {
	background-color: #f7f7f7;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 100px 0 0 0;
}

.scroll-div {
	color: white;
	width: 400px;
	border-radius: 15px 15px;
	background-color: white;
	height: 450px;
	overflow: hidden;
	overflow-y: scroll;
	box-shadow: 5px 5px rgb(192, 191, 191);
}

.but1 {
	color: white;
	width: 90%;
	height: 60px;
	margin: 0 0 10px 0;
	border-width: 0px;
	background-color: #00994d;
	border-color: #00994d;
	border-radius: 10px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.but1:hover {
	background-color: #4db882;
}

.but2 {
	margin: 10px 70px 50px 0;
	background-color: #00994d;
	color: white;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
	border-width: 0px;
	border-radius: 5px;
}

.but3 {
	margin: 10px 0 0 10px;
	background-color: #00994d;
	color: white;
	padding: 10px 15px 10px 15px;
	font-weight: bold;
	border-width: 0px;
	border-radius: 20px;
}
.but3:hover {
	background-color: #4db882;
}
h5 {
	color: white;
	text-transform: capitalize;
}

.owner {
	color: white;
	padding: 65px 0 0 40px;
}

i {
	padding: 0 0 0 5px;
}

.profbut {
	font-weight: bold;
	margin: 10px 0 10px 10%;
	background-color: #00994d;
	color: white;
	height: 40px;
	border-width: 0px;
	border-radius: 5px;
	width: fit-content;
	padding: 0px 20px;
}

.navbar-brand {
	color: #005c2e;
	font-size: 30px;
	flex: 50%;
	margin: 10px 0 0 -12%;
}
.navbar-brand:hover {
	color: #4db882;
}

@media screen and (max-width: 480px) {
	.navbar-brand {
		color: white;
		font-size: 17px;
		margin: 0 0 0 0;
	}

	.but1 {
		color: white;
		width: 70%;
		height: 60px;
		margin: 0 15px 10px 0;
		border-width: 0px;
		background-color: #00994d;
		border-color: #00994d;
		border-radius: 10px 10px;
	}

	.scroll-div {
		color: white;
		width: 350px;
		border-radius: 15px 15px;
		background-color: #2a2e35;
		height: 450px;
		overflow: hidden;
		overflow-y: scroll;
	}

	body {
		margin: 50px 0 0 0;
	}

	.profbut {
		margin: auto;
	}
}

h5 {
	color: white;
}
