*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI; 
}

html, body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: #1a1f22;
    background-size: cover;
}

.wrapper{
    width: 380px;
    background-color: #2a2e35;;
    border-radius: 15px;

}

.wrapper .logo{
    
    line-height: 10px;
    background-color: #2a2e35;;
    border-radius: 15px 15px 0 0;
    

}

.wrapper .title{
    color: white; 
    padding: 0 0 10px 25px;

}

.wrapper .logo img{
    width: auto;
    height: auto;
    margin: 20px 0 20px 41%;
}

 


.wrapper .form{
    padding: 10px 20px 25px 20px
}

.wrapper .form #div1{
    font-weight: bold;
	color: white;
	height: 45px;
	margin-bottom: 15px;
	position: relative;
	margin: 35px 0 0 0;
}

.wrapper .form #div1 input{
<<<<<<< HEAD
    color: white;
    background-color: #454e56;
    border-width: 0px;
	border-color: #454e56;
	border-radius: 20px 20px;
	height: 100%;
	width: 100%;
	padding-left: 60px;
}

.wrapper .form #div1 i{
    border-radius: 20px 20px;
	position: absolute;
	width: 47px;
	height: 100%;
	color: white;
	font-size: 18px;
	background-color: #00994d;
	border: 1px solid #00994d;
	display: flex;
	align-items: center;
	justify-content: center;
=======
    height: 100%;
    width: 100%;
    padding-left: 60px;
    margin: 10px 0 10px 0;
}

.wrapper .form #div1 i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: black;
    font-size: 18px;
    background-color: #9AE66E;
    border: 1px solid #16a085;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
>>>>>>> f4ee66467eda1806b1996cca831bff21a7904013
}

.wrapper .form #login{
    position: relative;
    margin: 40px 0 0 25% ;
    height: 40px;
    width: 50%;
}

.error{
    font-weight: lighter;
    font-size: 13px;
    color: red;
}

.create{
    padding: 0 0 0 30%;
    color: white;
}

.form-label{
<<<<<<< HEAD
    margin: 40px 0 0 2%;
=======
    color: #9AE66E;
    
>>>>>>> f4ee66467eda1806b1996cca831bff21a7904013
}

#login{
    font-size: 16px;
    border-width: 0px;
	background-color: #00994d;
	border-radius: 20px 20px;
	font-weight: bold;
	color: white;
	position: relative;
	margin: 40px 0 0 25%;
	height: 40px;
	width: 50%;
}

input{
    border-radius: 20px;
}

i{
    border-radius: 20px;
}
