 body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: #1a1f22;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    font-family: 'Helvetica';
    box-sizing: border-box;
}
.box{
    width: 500px;
    height: 500px;
    text-align: center;
    margin: 100px 0 0 0;
    background-color:  #2a2e35;
    border-radius: 20px;
    padding: 10px 10px 20px 10px;
}
a{
    color: white;
	text-decoration: none;
    padding: 30% 10px 10px 5px;
}
.scroll{
    color: white;
    width: 500px;
    border-radius: 10px 10px;
    background-color:#2a2e35;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;

}
h4{
    background: #00994d;
    border-radius: 10px 10px 10px 10px;
    width: 80%;
    height: 60px;
    margin: 0 10px 10px 45px;
}

