*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
#header{

    display: block;
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2a2e35;
    padding: 10px;
    height: 90px;
}

.div1{
    margin: 10px 0 0 0;
    /* background-color: grey; */
    padding: 20px 10px 20px 10px;
}

html, body{
    display: grid;
    height: 100%;
    place-items: center;
    /* background-image: url(../images/bg1_body.jpg); */
    background-color: #1a1f22;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .wrapper{
    margin: 75px 0 0 0;
    width: 90%;
    max-width: 500px;
    padding: 20px ;
    box-shadow: 0 0 20px grey;
} */

.scroll-div{
    color: white;
    width: 400px;
    border-radius: 15px 15px;
    /* background-color:grey; */
    background-color: #2a2e35;
    height: 450px;
    overflow: hidden;
    overflow-y: scroll;
    margin: 100px 0 0 0 ;
}

.but1{
    color: white;
    width: 90%;
    height: 60px;
    margin: 0 0 10px 0;
    border-width: 0px;
    background-color: #00994d;
    border-color: #00994d;
    border-radius: 10px 10px;
}

.but2{
    margin: 10px 110px 50px 0;
    background-color: #00994d;
    color: white;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    border-width: 0px;
    border-radius: 5px;
}

.but3{
    margin: 10px 0 0 100px;
    background-color:#00994d ;
    color: white;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    border-width: 0px;
    border-radius: 5px;
}

h5{
    color: white;
    text-transform: capitalize;
}

.owner{
    color: white;
    padding: 65px 0 0 40px;
}

i{
    padding: 0 0 0 5px;
}

.profbut{
    font-weight: bold;
    margin: 20px 0 0 20px;
    background-color:#00994d ;
    color: white;
    height: 40px;
    border-color: #00994d;
    border-radius: 5px;
    margin-right: -150px;
    width: fit-content;
    padding: 0px 30px;;

}

.navbar-brand{
    color: white;
    font-size: 30px;
    margin: 0 15 10 0;
}

h5{
    color: white;
}
