* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI";
}

html,
body {
	background-color: #1a1f22;
}

.container{

    width: 800px;
    background-color: #2a2e35;
    border-radius: 15px;
    margin: 40px auto;
    padding: 20px;
    height: 700px;
    
}

.col{
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.wrapper{
    width: 900px;
    background-color: #2a2e35;
    border-radius: 15px;
    margin: 10px auto;
    padding: 35px 20px 20px 45px;
    height: 100px;
}

.container1{
    width: 1250px;
    background-color: #00994d;
    border-radius: 15px;
    margin: 20px auto;
    height: 100px;
    text-align: center;
} 

.container1 {
	display: grid;
	grid-template-columns: 1.8fr 1fr;
}

.container1 .arr1{
    margin: 45px 410px 0 0;
}

.container1 .description{
    margin: 30px 0 0 390px;
}

.location{
    padding: -10px 0 0 0;
}

.description1{
    padding: -10px 0 0 0;
}



.container2{
    width: 1250px;
    background-color: #00994d;
    border-radius: 15px;
    margin: 20px auto;
    height: 450px;
    /* text-align: center; */
 } 
.container2 {
    display: grid;
	grid-template-columns: 1fr;
} 

.container3 {
    width: 200px;
    background-color: #af6826;
    border-radius: 15px;
    margin: 20px auto;
    height: 150px;
}

.arr {
	white-space: pre-line;
	margin: 5px 0 0 0;
}

.flexi1 {
	padding: 5px 0 0 0;
}

.arr1{
    margin: 45px 0 0 0;
}

.arr2{
    margin: 15px 0 0 0;
    text-align: center;
}

.arr3{
    margin: 47px 0 0 10px;
}

.arr4 {
    margin: 10px 0 0 30px;
}
.name, .location, .description, .description1{
    margin: 30px 0 0 30px;
}

.location1{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

button {
	color: white;
	font-weight: bold;
	border-width: 0px;
	background-color: #00994d;
	width: 200px;
	height: 50px;
}

.name, .location, .description, .description1, .arr1, .arr2, .arr3, .arr4{
    color: white;
}

.buto1{
    margin: 0 0 0 30%;

}

/* .description1{
    display: grid;
    grid-template-columns: 1fr 1fr;
} */
