* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica';
	font-size: 15px;
    
}

body{
    display: grid;
    place-items: center;
}

.menu-bar{
	display: flex;
	flex-wrap: wrap;
	background-color: #2a2e35;
	padding: 20px 0 20px 0;
	height: auto;
	width: 100%;
	margin: 0 0 100px 0;
	color: white;
}


#title{
    margin: 0 0 0 40px;
    color: white;
    font-size: 30px;
}

.title1{
    margin: 10px 0 20px 40px;
    padding: 30px 0 10px 0;
    font-weight: bold;
}
.title1:hover{
    color: #4db882;
}
.container{
    background-color: #00994d;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.container00{
    background-color: #2a2e35;
    border-radius: 15px;
}

.containerss{
    margin: 0 0 10px 0;
    background-color:#00994d ;
    border-radius: 10px;
}

.wrapper{
    background-color: #2a2e35;
    height: auto;
    max-width: 2000px;
    padding: 20px 40px 10px 40px;
    border-radius: 15px;
    /* width: 800px; */
}

#output{
    margin: 0 0 20px 0;
}



h1, h4{
    color: white;
}

.username{
    text-align: center;
}

.numberC{
    text-align: center;
    font-size: 30px;
}


/* button */
.bondpaper {
    background: #2a2e35;
    padding: 32px 32px;
    text-align: center;
    color: #868686;
    font-size: 0.75rem;
    margin:30px 0 20px 0;
    border-radius: 15px;
    
}
.bondpaper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.bondpaper li {
    display: inline-block;
}
.bondpaper li a {
    padding: 6px;
    font-size: 0.875rem;
    text-decoration: none;
    color: #c3c3c3;
}

button{
    background-color: #00994d;
    color: white;
    padding: 10px 20px;
    width: 300px;
    border-width: 0px;
    font-weight: bolder;
    transition-duration: 0.4s;
}

button:hover{
    background-color: #4db882;
}


@media screen and (max-width: 480px) {
    
    .bondpaper {
        padding: 30px 0 10px 0;
    }
    .bondpaper li {
        display: block;
        margin: 5px 0;
    }
}  